@mixin transform($trns) {
  -webkit-transform: $trns;
  -moz-transform: $trns;
  transform: $trns;
}

@mixin animate($anim) {
  -webkit-animation : $anim;
  -moz-animation: $anim;
  animation : $anim;
}

@mixin transformStyle {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin transform-origin($val) {
  -webkit-transform-origin: $val;
  -moz-transform-origin: $val;
  transform-origin: $val;
}

@mixin perspective($val) {
  -webkit-perspective: $val;
  -moz-perspective: $val;
  perspective: $val;
}

.hide {
  display:none;
}

$rotateX : rotateX(-15deg);
$rotateY : rotateY(-30deg);
$yRotation : -45deg;
$edge : 50px;
$border : 2px;
$length : $edge + 2*$border;
$halfLength : $length/2;
$transformFactorX : 10px;
$transformFactorY : 0;
$transformFactorZ : 10px;

$rightTransformFactorX : 10px;
$rightTransformFactorZ : -10px;

$animationDuration : 2.5s;

$opacity : 0.80;
$rightCubeOffset : 8px;
.viewport {
  position:absolute;
  width:200px;
  height:200px;
  top:20%;
  left:20%;
  @include perspective(50000px);
}
.cube {
  position:absolute;
  left:30%;
  top:30%;
  @include transformStyle ;
}

.face {
  position:absolute;
  width:50px;
  height:50px;
  background-color:#ffc40d;
  opacity:$opacity;
  border:2px solid #816306;
}

.cube .first {
  @include transform(translateZ($halfLength));

}

.cube .second {
  @include transform(rotateY(180deg) translateZ($halfLength));
}
.cube .third {
  @include transform(rotateY(90deg) translateZ($halfLength));
}
.cube .fourth {
  @include transform(rotateY(-90deg) translateZ($halfLength));
}

.bottomCube {
  @include transform-origin($halfLength  $halfLength);
  @include animate(bottomCube $animationDuration infinite ease);
  z-index:1;
}
.topCube {
  z-index:3;
  @include transform-origin($halfLength $halfLength);
  @include animate(topCube $animationDuration infinite ease);
}
.leftCube {
  z-index:2;
  @include transform-origin(0 $halfLength $halfLength);
  @include animate(leftCube $animationDuration infinite ease);
}
.rightCube {
  z-index:4;
  @include transform-origin($length $halfLength -1*$halfLength);
  @include animate(rightCube $animationDuration infinite ease);
}


@-webkit-keyframes bottomCube {
  0% {
    @include transform($rotateX $rotateY translateY(0));
  }

  10% {
    @include transform($rotateX $rotateY translateY(5px));
  }

  16% {
    @include transform($rotateX $rotateY translateY(0));
  }

  56% {
    @include transform($rotateX $rotateY translateY(0));
  }

  60% {
    @include transform($rotateX rotateY($yRotation+15));
  }

  71% {
    @include transform($rotateX $rotateY);
  }

  100% {
    @include transform($rotateX $rotateY translateY(0px));
  }
}

@-webkit-keyframes topCube {
  0% {
    @include transform($rotateX $rotateY translateY(0));
  }
  10% {
    @include transform($rotateX $rotateY translateY(5px));
  }
  16% {
    @include transform($rotateX $rotateY translateY(0));
  }
  40% {
    @include transform($rotateX $rotateY translateY(-$length - 5));
  }
  42% {
    @include transform($rotateX $rotateY translateY(-$length));
  }
  44% {
    @include transform($rotateX $rotateY translateY(-$length - 2));
  }
  45.5%{
    @include transform($rotateX $rotateY translateY(-$length));
  }

  56% {
    @include transform($rotateX $rotateY translateY(-$length));
  }

  60% {
    @include transform($rotateX rotateY($yRotation - 15) translateY(-$length));
  }

  64% {
    z-index:3;
    @include transform($rotateX $rotateY translateY(-$length));
  }
  80% {
    z-index:5;
    @include transform($rotateX $rotateY translateY(-$length));
  }

  100% {
    z-index:5;
    @include transform($rotateX $rotateY translateY(-$length));
  }
}


@-webkit-keyframes leftCube {
  0% {
    opacity:0;
    @include transform($rotateX translateX(-$transformFactorX) translateZ($transformFactorZ) rotateY(0));
  }

  64% {
    opacity:0;
    @include transform($rotateX translateX(-$transformFactorX) translateZ($transformFactorZ) rotateY(0));
  }
  64.1%{
    opacity:$opacity;
    @include transform($rotateX translateX(-$transformFactorX) translateZ($transformFactorZ) rotateY(0));
  }

  80% {
    @include transform($rotateX translateX(-$transformFactorX) translateZ($transformFactorZ) rotateY($yRotation - 255));
  }

  100% {
    @include transform($rotateX translateX(-$transformFactorX) translateZ($transformFactorZ) rotateY($yRotation - 255));
  }
}

@-webkit-keyframes rightCube {
  0% {
    opacity:0;
    @include transform($rotateX  translateX($transformFactorX) translateZ(-$transformFactorZ) $rotateY translateY(-$length));
  }

  64% {
    opacity:0;
    @include transform($rotateX translateX($transformFactorX ) translateZ(-$transformFactorZ ) $rotateY translateY(-$length));
  }
  64.1%{
    opacity:$opacity;
    @include transform($rotateX translateX($transformFactorX) translateZ(-$transformFactorZ) $rotateY translateY(-$length));
  }

  80% {
    @include transform($rotateX translateX($transformFactorX) translateZ(-$transformFactorZ ) rotateY($yRotation + 285) translateY(-$length));
  }

  100% {
    @include transform($rotateX translateX($transformFactorX) translateZ(-$transformFactorZ ) rotateY($yRotation + 285) translateY(-$length));
  }
}

@-moz-keyframes bottomCube {
  0% {
    @include transform($rotateX $rotateY translateY(0));
  }

  10% {
    @include transform($rotateX $rotateY translateY(5px));
  }

  16% {
    @include transform($rotateX $rotateY translateY(0));
  }

  56% {
    @include transform($rotateX $rotateY translateY(0));
  }

  60% {
    @include transform($rotateX rotateY($yRotation+15));
  }

  71% {
    @include transform($rotateX $rotateY);
  }

  100% {
    @include transform($rotateX $rotateY translateY(0px));
  }
}

@-moz-keyframes topCube {
  0% {
    @include transform($rotateX $rotateY translateY(0));
  }
  10% {
    @include transform($rotateX $rotateY translateY(5px));
  }
  16% {
    @include transform($rotateX $rotateY translateY(0));
  }
  40% {
    @include transform($rotateX $rotateY translateY(-$length - 5));
  }
  42% {
    @include transform($rotateX $rotateY translateY(-$length));
  }
  44% {
    @include transform($rotateX $rotateY translateY(-$length - 2));
  }
  45.5%{
    @include transform($rotateX $rotateY translateY(-$length));
  }

  56% {
    @include transform($rotateX $rotateY translateY(-$length));
  }

  60% {
    @include transform($rotateX rotateY($yRotation - 15) translateY(-$length));
  }

  64% {
    z-index:3;
    @include transform($rotateX $rotateY translateY(-$length));
  }
  80% {
    z-index:5;
    @include transform($rotateX $rotateY translateY(-$length));
  }

  100% {
    z-index:5;
    @include transform($rotateX $rotateY translateY(-$length));
  }
}


@-moz-keyframes leftCube {
  0% {
    opacity:0;
    @include transform($rotateX translateX(-$transformFactorX) translateZ($transformFactorZ) rotateY(0));
  }

  64% {
    opacity:0;
    @include transform($rotateX translateX(-$transformFactorX) translateZ($transformFactorZ) rotateY(0));
  }
  64.1%{
    opacity:$opacity;
    @include transform($rotateX translateX(-$transformFactorX) translateZ($transformFactorZ) rotateY(0));
  }

  80% {
    @include transform($rotateX translateX(-$transformFactorX) translateZ($transformFactorZ) rotateY($yRotation - 255));
  }

  100% {
    @include transform($rotateX translateX(-$transformFactorX) translateZ($transformFactorZ) rotateY($yRotation - 255));
  }
}

@-moz-keyframes rightCube {
  0% {
    opacity:0;
    @include transform($rotateX  translateX($transformFactorX) translateZ(-$transformFactorZ) $rotateY translateY(-$length));
  }

  64% {
    opacity:0;
    @include transform($rotateX translateX($transformFactorX ) translateZ(-$transformFactorZ ) $rotateY translateY(-$length));
  }
  64.1%{
    opacity:$opacity;
    @include transform($rotateX translateX($transformFactorX) translateZ(-$transformFactorZ) $rotateY translateY(-$length));
  }

  80% {
    @include transform($rotateX translateX($transformFactorX) translateZ(-$transformFactorZ ) rotateY($yRotation + 285) translateY(-$length));
  }

  100% {
    @include transform($rotateX translateX($transformFactorX) translateZ(-$transformFactorZ ) rotateY($yRotation + 285) translateY(-$length));
  }
}

